body{
    margin:0;
    font-family: Arial, Tahoma, Verdana sans-serif;
    font-size:12px;
}

a{
    text-decoration: none;
}

.header{
    position:relative;
    height: 750px;
    background-image: url("../images/banner.jpg");
}

.logo{
    float:left;
    width: 80px;
    height: 20px;
    margin:70px 0 0 200px;
    animation: mytranslate linear 0.5s;
}

@keyframes mytranslate{
    from{
        transform:translate(-200px,-70px);
    }

    to{
        transform:translate(0,0);
    }
}

.border-bottom-1{
    position:absolute;
    width: 90px;
    height:3px;
    top:30px;
    left:-5px;
    margin:70px 0 0 200px;
    background-color: rgb(255,255,255);
    animation: mytranslate-1 linear 0.6s;
}

@keyframes mytranslate-1{
    from{
        transform:translate(-250px,-70px);
    }

    to{
        transform:translate(0,0);
    }
}

.border-bottom-2{
    position:absolute;
    width: 98px;
    height:3px;
    top:38px;
    left:-9px;
    margin:70px 0 0 200px;
    background-color: rgb(255,255,255);
    animation: mytranslate-2 linear 0.8s;
}

@keyframes mytranslate-2{
    from{
        transform:translate(-300px,-70px);
    }

    to{
        transform:translate(0,0);
    }
}

.menu-button{
    display:none;
    position:absolute;
    top:60px;
    right:90px;
    width:45px;
    height:30px;
    background-color: rgb(110,110,110);
    border-radius:5px;
    border:3px groove rgb(125,125,125) ;
}

.menu-button>i:hover{
    color:rgb(148,148,148);
}

.menu-button>i:active{
    color:rgb(9,9,9);
}

.menu-button:active{
    position:absolute;
    top:60px;
    right:90px;
    width:45px;
    height:30px;
    background-color: rgb(110,110,110);
    border-radius:5px;
    border:4px groove rgb(125,125,125) ;
}

.menu-button:focus{
    outline:0;
}

.menu-button>i{
    font-size:17px;
}

.menu{
    float:right;
    margin:50px 130px 0 0;
}

.menu ul li{
    display:inline-block;
    margin:10px;
}

.menu ul li a{
    text-decoration: none;
    color:rgb(228,228,228);
    font-size:11px;
}

.menu ul li a:hover{
    text-decoration: none;
    color:rgb(154,154,154);
    font-size:11px;
}

.header-bottom{
    position: relative;
    width:600px;
    height:400px;
    margin:0 auto;
    top:180px;
}

.header h1{
    float:left;
    text-align: center;
    font-size:40px;
    text-transform: uppercase;
    color:rgb(255,255,255);
}

.header p{
    float:left;
    text-align: center;
    font-size:10px;
    color:rgb(228,228,228);
}

.find{
    text-align: center;
    position: relative;
    top: 150px;
}

.find>a{
    display:block;
    width:110px;
    margin:0 auto;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size:10px;
    color:rgb(255,255,255);
    background-color: rgb(59,196,146);
    transition:all 0.1s;
}

.find>a:hover{
    display:block;
    width:110px;
    margin:0 auto;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size:10px;
    color:rgb(255,255,255);
    background-color: rgb(59,196,146);
    text-shadow: 1px 1px rgb(9,9,9), 3px 3px 5px rgb(9,9,9);
}

.main-header{
    position:relative;
    padding-bottom: 120px;
    text-align: center;
    background: linear-gradient( rgb(0,157,196), rgb(0,174,218), rgb(169,238,255));
}

.main-header>h4{
    margin:0 auto;
    padding-top:50px;
    font-size:26px;
    color:rgb(224,239,241);
}

.main-header>p{
    width:700px;
    margin:0 auto;
    padding-top:30px;
    color:rgb(191,235,241);
}

.section-1{
    text-align: center;
}

.block-1{
    display:inline-block;
    width:900px;
}

.block-1-1,
.block-1-2,
.block-1-3,
.block-1-4,
.block-1-5,
.block-1-6{
    display:inline-block;
    width:260px;
    margin:52px 20px 0 0;
}

.block-1-1{
    background: url(../images/horse.png) top center no-repeat;
}

.block-1-2{
    background: url(../images/bag.png) top center no-repeat;
}

.block-1-3{
    background: url(../images/ruler-and-pencil.png) top center no-repeat;
}

.block-1-4{
    background: url(../images/atom-structure.png) top center no-repeat;
}

.block-1-5{
    background: url(../images/megaphone.png) top center no-repeat;
}

.block-1-6{
    background: url(../images/troghy.png) top center no-repeat;
}

.block-1 h3{
    text-transform: uppercase;
    margin-top:80px;
    font-size:14px;
}

.block-2{
    display:inline-block;
    margin-top:50px;
    text-align: center;
}

.block-2>img{
    width:300px;
    margin:6px;
    box-shadow: 5px 5px 7px rgba(9,9,9,0.4);
}

.see-all{
    display: none;
    text-align: center;
}

.see-all>a{
    text-transform: capitalize;
    color:rgb(82,82,82);
}

.see-all>a:hover{
    text-transform: capitalize;
    color:rgb(9,9,9);
}

.section-2{
    text-align: center;
}

.block-3{
    display:inline-block;
    padding-bottom: 15px;
}

.block-3-1,
.block-3-2,
.block-3-3,
.block-3-4{
    display:inline-block;
    width:220px;
    padding-bottom: 25px;
    margin:45px 20px 0 0;
}

.block-3 img{
    width:120px;
    border-radius: 50%;
    box-shadow: 2px 2px 12px 1px rgb(9,9,9);
    transition:all 0.5s;
}

.block-3 img:hover{
    width:120px;
    border-radius: 50%;
    transform:scale(1.1,1.07)
}

.block-3 h4{
    font-size:20px;
    font-weight: 100;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.block-3 a:nth-of-type(1){
    font-size:11px;
    color:rgb(0,192,235);
    text-transform: uppercase;
}

.block-3 a:nth-of-type(1):hover{
    font-size:11px;
    color:rgb(0,148,181);
    text-shadow: 3px 3px 1px rgba(9,9,9, .3);
}

.block-3 a:nth-of-type(2),
.block-3 a:nth-of-type(3),
.block-3 a:nth-of-type(4),
.block-3 a:nth-of-type(5),
.block-3 a:nth-of-type(6){
    display:inline-block;
    width:30px;
    line-height: 30px;
    font-size:12px;
    margin-right:5px;
    color:rgb(198,202,204);
    border:1px solid rgb(198,202,204);
    border-radius:50%;
    transition:all 0.5s;
}

.block-3 a:nth-of-type(2):hover,
.block-3 a:nth-of-type(3):hover,
.block-3 a:nth-of-type(4):hover,
.block-3 a:nth-of-type(5):hover,
.block-3 a:nth-of-type(6):hover{
    display:inline-block;
    width:30px;
    line-height: 30px;
    font-size:12px;
    margin-right:5px;
    border:1px solid rgb(198,202,204);
    border-radius:50%;
    color:rgb(77,79,80);
}

.block-3 p{
    color:rgb(108,114,121);
}

.main-footer{
    padding-bottom: 50px;
    background: linear-gradient(rgb(169,238,255), rgb(0,174,218), rgb(0,157,196));
    text-align: center;
}

.main-footer p:nth-of-type(1){
    display:inline-block;
    width:800px;
    margin-top:70px;
    font-size:20px;
    color:rgb(255,255,255);
}

.main-footer p:nth-of-type(2){
    display:inline-block;
    width:800px;
    font-size:10px;
    text-transform: uppercase;
    color:rgb(255,255,255);
}

.main-footer form{
    margin-top:20px;
}

.section-3{
    text-align: center;
    padding-bottom: 100px;
}

.block-4{
    display:inline-block;
}

.block-4 h5{
    font-size:22px;
    text-transform: uppercase;
    margin-top:60px;
}

.block-4 p{
    width:600px;
}

.block-4 form{
    margin-top:50px;
}

.name{
    display:block;
    width:600px;
    height:40px;
    border:0;
    padding-left:20px;
    border-bottom: 1px solid rgb(216,216,216);
    outline:0;
}

.text{
    display:block;
    width:600px;
    height:100px;
    border:0;
    padding-left:20px;
    border-bottom: 1px solid rgb(216,216,216);
    outline:0;
}

.submit{
    width:150px;
    height:35px;
    background-color: rgb(59,196,146);
    border:0;
    border-radius: 3px;
    margin-top:70px;
    color:rgb(255,255,255);
    transition:all 0.1s;
}

.submit:hover{
    width:150px;
    height:35px;
    background-color: rgb(59,196,146);
    border-radius: 3px;
    margin-top:70px;
    text-shadow: 1px 1px rgb(9,9,9), 3px 3px 5px rgb(9,9,9);
}

.footer{
    padding-bottom: 40px;
    background-color: rgb(24,24,24);
    text-align: center;
}

.footer-block-1{
     display:inline-block;
     width:325px;
     margin-top:40px;
 }

.footer-block-2,
.footer-block-3{
    display:inline-block;
    width:150px;
    padding-bottom: 40px;
    vertical-align: top;
    margin:40px 0 0 80px;
}

.footer-block-1 p:nth-of-type(1),
.footer-block-2 p:nth-of-type(1),
.footer-block-3 p:nth-of-type(1){
    font-size:12px;
    font-weight: bold;
    color: rgb(255,255,255);
    text-align: left;
    text-transform: uppercase;
}

.footer-block-1 p:nth-of-type(2),
.footer-block-1 p:nth-of-type(3),
.footer-block-1 p:nth-of-type(4){
    font-size:12px;
    color:rgb(48,50,50);
    text-align: left;
}

.footer-block-1>a{
    display: block;
    color:rgb(48,50,50);
    text-align: left;
 }

.footer-block-1>a:hover{
    display: block;
    color:rgb(184,184,184);
    text-decoration: underline;
    text-align: left;
}

.designstub>a{
    color:rgb(124,124,124);
}

.designstub>a:hover{
    color:rgb(184,184,184);
    text-decoration: underline;
}

.footer-block-2>a{
    display: block;
    color:rgb(124,124,124);
    margin-top:5px;
    text-align: left;
}

.footer-block-2>a:hover{
    display: block;
    color:rgb(184,184,184);
    margin-top:5px;
    text-align: left;
    text-decoration: underline;
}

.footer-block-1 p:nth-of-type(4)>i{
    color:rgb(232,69,69);
}

.footer-block-3>a{
    float:left;
    font-size:24px;
    margin:15px 15px 0 0;
    color:rgb(82,82,82);
}

.footer-block-3>a:hover{
    float:left;
    font-size:24px;
    margin:15px 15px 0 0;
    color:rgb(184,184,184);
}